<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Acerca de ComicVerse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    <img src="../../../assets/icon/images.jpg" alt="Logo de ComicVerse" class="logo-image" />

    <h1>Bienvenidos a ComicVerse</h1>
    <p>
      ComicVerse es una aplicación para los apasionados de los cómics, donde puedes descubrir,
      comprar y coleccionar tus cómics favoritos desde cualquier lugar.
    </p>

    <h2>Nuestra Misión</h2>
    <p>
      Nuestra misión es ofrecer una plataforma accesible y fácil de usar para conectar a los fans
      con el fascinante universo de los cómics. Queremos que encuentres los títulos que amas,
      y descubras nuevas historias y personajes.
    </p>

    <h2>Características</h2>
    <ul>
      <li>Amplio catálogo de cómics de diferentes géneros y editoriales.</li>
      <li>Detalles de cada cómic: sinopsis, autor, ilustrador, y fecha de publicación.</li>
      <li>Ofertas y secciones de descuento exclusivas.</li>
      <li>Carrito de compras rápido y fácil de usar.</li>
      <li>Perfil de usuario para gestionar tu colección y lista de deseos.</li>
    </ul>

    <h2>Conoce al Equipo</h2>
    <p>
      Nuestro equipo está formado por amantes del mundo de los cómics, diseñadores y desarrolladores
      que trabajan para brindarte la mejor experiencia en la compra de cómics en línea.
    </p>

    <h2>Contáctanos</h2>
    <p>Si tienes alguna duda o comentario, no dudes en <a href="mailto:contacto@comicverse.com">escribirnos</a>.</p>
  </div>
</ion-content>
