.about-container {
    padding: 20px;
    text-align: center;
  }
  
  .logo-image {
    width: 150px;
    margin: 20px auto;
  }
  
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 1.4rem;
    color: #333;
    margin-top: 20px;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    margin: 15px 0;
  }
  
  ul {
    text-align: left;
    list-style-type: square;
    padding-left: 20px;
    color: #333;
  }
  
  ul li {
    margin: 10px 0;
    font-size: 1rem;
  }
  